.pokemon_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

.pokemon_details_container button {
    padding: 10px;
    width: 6.5em;
    border-radius: 10px;
}

.pokemon_details_inner {
    border-radius: 10px;
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    box-shadow: 0 0 15px 5px gray;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.pokemon_details_inner h1 {
    margin: 0 auto;
}

.pokemon_details_inner p {
    margin: 3px 1em;
    font-size: 1.1rem;
}

.moves_container {
    padding-left: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.moves_container li {
    width: 45%;
}

.button_span {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin: 2em;
}

.button_span button {
    all: unset;
    border: 1px solid black;
    width: 4.5em;
    height: 2.2em;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    transition: 0.2s ease;
    cursor: pointer;
    background-color: white;
}

.button_span button:hover {
    transform: scale(1.03);
    box-shadow: 0 0 5px black;
}

.pokemon_img_container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.pokemon_img_container img {
    width: 35%;
    margin: 15px 0;
}