.app_main {
    display: flex;
}

.app_sidenav {
    height: 100vh;
    width: 20%;
    max-width: 15em;
    background-color: #212529;
    box-shadow: 5px 0 10px gray;
    position: sticky;
    top: 0;
}

.right_content {
    width: 85%;
}

.active {
    background-color: #0d6efd;
}

.element_container {
    padding: 0.5em 1.2em 0 1em;
}